In [90]:
import pandas as pd
# Loading the csv file 
data = pd.read_csv('data.csv')

In [91]:
from pandasql import sqldf
import pandas as pd

# Loading the csv file 
data = pd.read_csv('data.csv')
data.head()

query = '''
SELECT *
FROM data
'''

result = sqldf(query)
print(result)

   user_id payment_date  payment_id  cancelled cancelled_date
0        1   2022-01-01          10          0           None
1        1   2022-02-01          11          0           None
2        1   2022-03-01          12          0           None
3        1   2022-04-01          13          1     2022-04-05
4        1   2022-07-01          21          0           None
5        1   2022-08-01          22          0           None
6        1   2022-09-01          23          0           None
7        1   2022-10-01          24          1     2022-10-05
8        1   2022-11-01          25          0           None
9        1   2022-12-01          26          0           None

In [102]:
query = '''
SELECT 
    user_id,
    cancelled_date,
    CASE 
        WHEN cancelled=1 OR payment_number = 1 THEN min(payment_id) OVER (PARTITION BY user_id, payment_id)
    END AS payment_id_of_first_payment
FROM (
    SELECT *,
        ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY payment_date DESC) AS payment_number
    FROM data
) subquery
WHERE cancelled_date IS NOT NULL OR payment_number = 1
'''

result = sqldf(query)
print(result)

   user_id cancelled_date  payment_id_of_first_payment
0        1     2022-04-05                           13
1        1     2022-10-05                           24
2        1           None                           26